Artifacts/CommonFilesVS2010/
**/bin/
**/obj
Source/packages/
*.wmv
*.flv
web.config
**/.vs/
*.orig
*.suo
Artifacts/Database/Patch/mssqlvc.log
*.user
*.bak
Artifacts/**/*.zip
Artifacts/**/*.exe
Artifacts/**/*.msi
Artifacts/**/*.zip.txt
docs/_build/
StyleCop.Cache
*.exe
**/.idea/
Artifacts/*.txt
Source/FormI9v2.Database/**/*.log
*.dbmdl
*.jfm
Source/FormI9v2.Database/PublishProfiles/Temp.xml
Config.Development.ps1
Config.ps1

Source/AppConfig.Development.xml
app.config
Web.config
*.received.*
/Source/DEVFormI9VS10/FESSMM/FESSWeb/web.config
/Source/DEVFormI9VS10/FESSMM/FESSWS/web.config
Scripts/DSC/**/*.mof
Scripts/DSC/**/*.cer
Source/DEVFormI9VS10/FormI9Verify/FormI9WebApi/App_Data/*.xml
FormI9VulnerabilitiesScan.csproj
Warnings.txt
FI9CoverageReport/
FI9CoverageReport.html
