html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /*margin-bottom: 60px;*/
}
a {
    color: #055ce5;
}
a:hover {
    color: #044AB7;
}
.loginForm {
    background: #fff;
    width: 500px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
.loginForm .loginFormTitle {
    padding: 35px 35px 0 35px;
    font-weight: 300;
}
.loginForm .content {
    padding: 35px 35px 0px;
    text-align: center;
}
.loginForm .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}
.loginForm .action .loginBtn {
    text-decoration: none;
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #055ce5;
    color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-align: center;
}
.loginForm .action .loginBtn:nth-child(2) {
    background: #2d3b55;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
}

.dashboardWrapper.sidebarCollapse {
}
.dashboardWrapper.sidebarCollapse .dashContent .sideBar {
    left:-250px;
}
.dashboardWrapper.sidebarCollapse .dashContent .rightContent {
    padding-left:0px;
}
.dashboardWrapper .dashNav {
}
.dashboardWrapper .dashNav > .navbar {
    background: #EDEDED;
    border-bottom: 1px solid #D9DEE4;
}

.dashboardWrapper .dashContent {
}
.dashboardWrapper .dashContent .sideBar {
    background: #2A3F54;
    width: 250px;
    position: fixed;
    top: 0px;
    bottom: 0;
    z-index: 1030;
    left:0;
    transition: all 0.3s ease-out;
    box-shadow: 0 2px 2px 0 rgba(var(--cui-elevation-base-color, 60, 75, 100), .14), 0 3px 1px -2px rgba(var(--cui-elevation-base-color, 60, 75, 100), .12), 0 1px 5px 0 rgba(var(--cui-elevation-base-color, 60, 75, 100), .20);
}
.dashboardWrapper .dashContent .sideBar ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.dashboardWrapper .dashContent .sideBar li {
    display: block;
}
.dashboardWrapper .dashContent .sideBar a {
    cursor:pointer;
    display: flex;
    flex: 1;
    align-items: center;
    padding: 10px;
    color: #afb5c0;
    text-decoration: none;
    white-space: nowrap;
    transition: background 0.15s ease, color 0.15s ease;
}
.dashboardWrapper .dashContent .sideBar a:hover {
    background-color: #46546c;
    color:#fff;
}
.dashboardWrapper .dashContent .sideBar a.navbar-brand {
    color:#fff;
    margin:0px;
}
.dashboardWrapper .dashContent .sideBar li a.active {
}
.dashboardWrapper .dashContent .sideBar li a.active {
    background-color: #46546c;
    color: #fff;
}

.dashboardWrapper .dashContent .rightContent {
    padding-left:250px;
    background: #F7F7F7;
    transition:all 0.3s ease-out;
}
.dashboardWrapper .dashContent .rightContent table{
    font-size:14px;
    background:#fff;
}
.dashboardWrapper .dashContent .rightContent table > thead {
    background: rgba(52,73,94,0.94);
    color: #ECF0F1;
}
.dashboardWrapper .dashContent .rightContent table > thead th {
}
.dashboardWrapper .dashContent .rightContent table > tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}
.dashboardWrapper .dashContent .rightContent table tbody tr:hover td {
    background: rgba(38,185,154,0.07);
    border-top: 1px solid rgba(38,185,154,0.11);
    border-bottom: 1px solid rgba(38,185,154,0.11);
}
.dashboardWrapper .dashContent .rightContent table tbody td a{
   
}
p.createNew a {
    background: #29693F;
    min-width: 84px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 7px 18px;
    text-decoration: none;
    color: #fff;
    border-radius: 100px;
    box-shadow: none;
    outline: none;
    border: 1px solid #29693F;
    transition: all 0.3s ease-out;
}
.dashboardWrapper .dashContent .rightContent table tbody td a.editAction {
    background-color: #E6EFfC;
    border-color: #B4CEF7;
    display: inline-block;
    border-radius: 4px;
    color: #1f1f1f;
    padding: 5px 8px;
    text-decoration: none;
    font-size: 13px;
    line-height: 14px;
    font-weight:600;
}
.dashboardWrapper .dashContent .rightContent table tbody td a.detailsAction {
    background-color: #FEF8ED;
    border-color: #F8CCB1;
    display: inline-block;
    border-radius: 4px;
    color: #1f1f1f;
    padding: 5px 8px;
    text-decoration: none;
    font-size: 13px;
    line-height: 14px;
    font-weight:600;
}
.dashboardWrapper .dashContent .rightContent table tbody td a.deleteAction {
    background-color: #feecec;
    border-color: #fab3b3;
    display: inline-block;
    border-radius: 4px;
    color: #1f1f1f;
    padding: 5px 8px;
    text-decoration: none;
    font-size: 13px;
    line-height: 14px;
    font-weight: 600;
}
.dashboardWrapper .dashContent .rightContent h1, h2, h3, h4, h5 {
    color: #73879C;
}
.mainDashboard{
    min-height:calc(100vh - 160px);
}
footer.dashFooter{
    position:unset;
    padding:20px 0px;
    margin-top:20px;
    background:#fff;
}
.formWrapper{
    padding:24px 24px 16px;
    border:1px solid #e2e2e2;
    background:#fbfbfb;
    border-radius:12px;
}
.backtoLink {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    width: 40px;
    height: 40px;
    border-radius:100%;
    background-color:#e6effc;
    color:#4e4e4e;
    transition: all 0.3s ease-out;
}
.backtoLink:hover {
    background-color: #CDDEFA;
}
    .formWrapper .formContent {
}
.formWrapper .formAction {
    border-top:1px solid #e2e2e2;
    padding-top:16px;
    text-align:right;
}
.deleteBtn {
    min-width: 84px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px 18px;
    text-decoration: none;
    color: #fff;
    background: #c43333;
    border-radius: 100px;
    box-shadow: none;
    outline: none;
    border: 1px solid #c43333;
    transition: all 0.3s ease-out;
}
    .deleteBtn:hover {
        background: #952727;
    }
.formActionBtn {
    min-width: 84px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 7px 18px;
    text-decoration: none;
    color: #fff;
    background: #055ce5;
    border-radius: 100px;
    box-shadow: none;
    outline: none;
    border: 1px solid #055ce5;
    transition: all 0.3s ease-out;
}
.formActionBtn:hover {
    background: #044AB7;
    color: #fff;
}
.cancelBtn {
    min-width: 84px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 7px 18px;
    text-decoration: none;
    color: #fff;
    border-radius: 100px;
    box-shadow: none;
    outline: none;
    border: 1px solid #82868b;
    margin-right: 8px;
    transition: all 0.3s ease-out;
    background: #969ba2;
}
.cancelBtn:hover {
    background: #6a6c6e;
    border-color: #6a6c6e;
    color: #fff;
}
.formWrapper .form-group {
    margin-bottom: 16px;
}
.detailCard {
    padding: 24px 24px 16px;
    border: 1px solid #e2e2e2;
    background: #fbfbfb;
    border-radius: 12px;
}
.detailCard .detailCardContent dt{
    margin-bottom:0.5rem;
}
.paymentDetailsCol {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.detailCard .detailCardAction {
    border-top: 1px solid #e2e2e2;
    padding-top: 16px;
    text-align: right;
}
.alertCard{
    display:flex;
    align-items:center;
    max-width:400px;
    padding:12px;
    gap:16px;
    border-radius:8px;
    border:1px solid #fab3b3;
    background:#feecec;
    margin-bottom:16px;
}
.alertCard .alertIcon {
    color:#f24040
}
.alertCard .alertContent {
    color:#1f1f1f;
    font-size:18px;
    font-weight:bold;
}
.sibeBarCollapseBtn{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    padding:2px;
}
.loginPageWrapper .mainDashboard {
    min-height: calc(100vh - 117px);
}
.loginPageWrapper .dashFooter{
    border-top:1px solid #ddd;
    text-align:center;
    background:#f5f5f5;
}
/*input[type=file]::file-selector-button {
    margin-right: 10px;
    border: none;
    min-width: 84px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 7px 18px;
    text-decoration: none;
    color: #fff;
    background: #055ce5;
    border-radius: 100px;
    box-shadow: none;
    outline: none;
    border: 1px solid #055ce5;
    transition: all 0.3s ease-out;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}*/