@page
@model AdminDashboard.Pages.AboutModel
@{
    Layout = "/Pages/Shared/_AppLayout.cshtml";
    ViewData["Title"] = "About";
}

<div id="about" class="k-d-flex-col k-justify-content-between k-align-items-start" style="gap:2em; margin:2em; width:60%;">
    <h2>IFMA Membership Dashboard</h2>   
    <p>
        IFMA Admin Dashboard 
    </p>
</div>