@model IFMAMVCDemo.Data.Models.Title

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>
        <a title="Back to List" class="backtoLink" asp-action="Index">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
        </a>
        Title
    </h4>
    <hr />
    <dl class="row">
        <div class="col-md-4">
            <div class="detailCard">
                <div class="detailCardContent">
                    <div class="row">
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.TitleName)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.TitleName)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.Category)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => model.Category.CategoryName)
                        </dd>
                    </div>
                </div>
                <div class="detailCardAction">
                    <a class="cancelBtn" asp-action="Index">Back to List</a>
                    <a class="formActionBtn" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                </div>
            </div>
        </div>
    </dl>
</div>
