<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ce3f41ea-a49c-4ad7-ad8e-d60dff869961/resourceGroups/pocadmin1/providers/Microsoft.Web/sites/imafpoc1</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://imafpoc1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>553b5693-08ac-4430-a1e5-17d1db01a6f9</ProjectGuid>
    <PublishUrl>https://imafpoc1.scm.azurewebsites.net/</PublishUrl>
    <UserName>$imafpoc1</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>